<div class="sign-in-box">
  <div class="mail-bg"></div>
  <div class="form-box">
    <mat-stepper linear #stepper labelPosition="bottom" class="stepper-box">
      <!-- Step 1   -->
      <mat-step [stepControl]="userInformationFG" [editable]="isEditable">
        <h1>Let's get to know you.</h1>
        <app-registration-form
          (formGroupEmitter)="userInformationFG = $event"
        ></app-registration-form>
      </mat-step>

      <!-- Step 2
      <mat-step [stepControl]="otpForm" [editable]="isEditable">
        <h1 class="move-down">Verify your phone number.</h1>
        <p class="center-p">
          We've sent a code to the phone number ({{
            userInformationFG.get("phoneNumber")?.value
          }}) you provided
        </p>
        <app-otp-form (formGroupEmitter)="otpForm = $event"></app-otp-form>
      </mat-step>
    -->

      <!-- Step 3-->
      <mat-step [stepControl]="emailPasswordForm" [editable]="isEditable">
        <h1 class="move-down">Create your Email :)</h1>
        <p class="center-p">
          Create your radical username, remember it has to be special.
        </p>
        <app-email-password-form
          (formGroupEmitter)="emailPasswordForm = $event"
        ></app-email-password-form>
      </mat-step>

      <!-- Step 4-->
      <mat-step>
        <div class="greetings">
          <h1>👋Welcome!</h1>
          <p>Connecting You Instantly, Delivering with Precision</p>
          <button class="expore-btn" mat-button mat-raised-button>
            Explore
          </button>
        </div>
      </mat-step>
    </mat-stepper>

    <button
      mat-raised-button
      color="basic"
      (click)="goBack()"
      *ngIf="stepper.selectedIndex === 1"
      class="prev-btn"
    >
      Back
      <mat-icon class="icon">navigate_before</mat-icon>
    </button>
    <button
      mat-raised-button
      color="basic"
      *ngIf="stepper.selectedIndex === 0"
      class="prev-btn"
      routerLink="/auth/login"
    >
      Sign In
      <mat-icon class="icon">navigate_before</mat-icon>
    </button>
  </div>
</div>
