* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-in-box {
  width: 100vw;
  height: 100vh;
  display: flex;

  .mail-bg {
    background-image: url("../../../../assets/images/email.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
  }

  .form-box {
    width: 50%;
    position: relative;
    padding: 2rem 3rem;

    .stepper-box {
      margin: 0 auto;
      width: 75%;
      padding: 0rem 1rem;
      border-radius: 1rem;

      h1 {
        text-align: center;
        padding-bottom: 1rem;
      }
      .move-down {
        margin-top: 2rem;
      }
      .center-p {
        margin-top: -1rem;
        text-align: center;
      }

      .input-box {
        .form-field-box {
          width: 100%;
          margin: 0 auto;
        }
        .form-field-code {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .code-input {
            width: 50px;
            margin-right: 0.5rem;
            input {
              text-align: center;
            }
          }
        }
      }

      .input-box_email {
        width: 120%;
        z-index: 10;
        .form-field-box_email {
          width: 70%;
        }
        .small-text {
          font-size: 0.8rem;
          margin-left: 5px;
        }
      }

      .input-box__suggestions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span {
          margin-right: 1rem;
        }
        .suggestions {
          display: flex;
          overflow-x: scroll;
          scrollbar-width: none; /* Firefox */
        }
        .suggestions::-webkit-scrollbar {
          display: none !important;
        }
        .fab-right {
          margin-left: -0.5rem;
          background-color: #fff;
        }
      }

      .phone-input-container {
        margin-top: 1rem;
        .phone-input-wrapper {
          display: flex;
          width: 100%;
          .form-field {
            width: 20%;
          }
          .form-field-phone {
            width: 80%;
          }
        }
      }
      .nxt-btn {
        margin-top: 1rem;
        width: 100%;
        padding: 1.8rem;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        .icon {
          margin-left: 0.7rem;
          order: 1;
        }
      }

      .greetings {
        text-align: center;
        margin-top: 2rem;

        h1 {
          padding-bottom: 0;
          letter-spacing: 3px;
          font-size: xx-large;
        }
        button {
          margin-top: 3rem;
          padding: 1.5rem 2.5rem;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.form-field-phone {
  div {
    div {
      div {
        .mdc-notched-outline__trailing {
          border-right: none !important;
        }
      }
    }
  }
}

//Animation...
.slide-right {
  position: absolute;
  top: 2rem;
  left: 3rem;
  transition: all 0.5s ease-in-out;
  animation: slideFromRight 0.5s ease-in-out forwards !important;
}
.slide-left {
  position: absolute;
  top: 2rem;
  left: 3rem;
  animation: slideFromRight 0.5s ease-in-out forwards !important;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(50%);
    opacity: 0;
  }
  80% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

//OVERRIDEN DEFAULT ANGULAR MATERIAL STYLES
::ng-deep .mdc-evolution-chip-set__chips {
  display: flex;
  flex-flow: nowrap !important;
}

::ng-deep .mat-step-header:hover:not([aria-disabled]),
::ng-deep .mat-step-header:active:not([aria-disabled]),
::ng-deep .mat-step-header:focus:not([aria-disabled]) {
  background-color: transparent !important;
}

::ng-deep .mat-step-header {
  pointer-events: none !important;
}

::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-accent {
  --mdc-chip-elevated-container-color: #000 !important;
  --mdc-chip-elevated-disabled-container-color: #000 !important;
}
::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary {
  --mdc-chip-elevated-container-color: #000 !important;
  --mdc-chip-elevated-disabled-container-color: #000 !important;
}
/*
.form-field-phone {
  width: 80%;
  ::ng-deep div {
    div {
      div {
        .mdc-notched-outline__leading {
          border-left: none !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
  }
}

.form-field-c_code {
  ::ng-deep div {
    div {
      div {
        .mdc-notched-outline__trailing {
          border-right: none !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
  }
}
*/
