<div class="sign-in-box">
  <div class="mail-bg"></div>
  <div class="form-box slidefromright">
    <mat-stepper linear #stepper labelPosition="bottom" class="stepper-box">
      <!-- Step 1   -->
      <mat-step [stepControl]="emailForm">
        <h1>Let's reset your pasword.</h1>
        <form [formGroup]="emailForm" (submit)="emailHandler()">
          <div class="input-box">
            <p>Username</p>
            <mat-form-field class="form-field-box">
              <input
                type="email"
                matInput
                formControlName="email"
                placeholder="abc@maily.com"
              />
            </mat-form-field>
            <mat-error
              class="error"
              *ngIf="
                emailForm.get('email')?.touched &&
                (emailForm.get('email')?.hasError('email') ||
                  emailForm.get('email')?.hasError('required'))
              "
              >Enter a valid email</mat-error
            >
          </div>
          <button mat-raised-button class="nxt-btn" type="submit">
            <div>Sign Up</div>
            <mat-icon class="icon">east</mat-icon>
          </button>
        </form>
      </mat-step>

      <!-- Step 3-->
      <mat-step>
        <div class="greetings">
          <h1>Action Required!</h1>
          <p>
            A link to reset your password has been sent to the RECOVERY EMAIL
            associated to your account.
          </p>
        </div>
      </mat-step>
    </mat-stepper>
    <button
      mat-raised-button
      color="basic"
      class="prev-btn"
      routerLink="/login"
    >
      Sign In
      <mat-icon class="icon">navigate_before</mat-icon>
    </button>
  </div>
</div>
