* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-in-box {
  width: 100vw;
  min-height: 100vh;
  display: flex;

  .mail-bg {
    background-image: url("../../../../assets/images/email.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 50%;
  }

  .form-box {
    width: 50%;
    position: relative;
    padding: 2rem 3rem;

    .stepper-box {
      margin: 0 auto;
      width: 75%;
      padding: 0rem 1rem;
      border-radius: 1rem;

      .input-box {
        width: 100%;
        .form-field-box {
          width: 100%;
          margin: auto;
        }
        .form-field-code {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .code-input {
            width: 50px;
            margin-right: 0.5rem;
            input {
              text-align: center;
            }
          }
        }
      }
      .nxt-btn {
        margin-top: 1rem;
        width: 100%;
        padding: 1.8rem;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        .icon {
          margin-left: 0.7rem;
          order: 1;
        }
      }

      h1 {
        text-align: center;
        padding-bottom: 1rem;
      }
      .move-down {
        margin-top: 2rem;
      }
      .center-p {
        margin-top: -1rem;
        text-align: center;
      }

      .greetings {
        text-align: center;
        margin-top: 2rem;

        h1 {
          padding-bottom: 0;
          letter-spacing: 3px;
          font-size: xx-large;
        }
        button {
          margin-top: 3rem;
          padding: 1.5rem 2.5rem;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.prev-btn {
  position: absolute;
  padding: 1rem;
  top: 2rem;
  left: 3rem;
  transition: all 0.5s ease-in-out;
}

.slidefromright {
  animation: slideFromRight 0.3s ease-in-out;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(50%);
    opacity: 0;
  }
  80% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

//OVERRIDEN DEFAULT ANGULAR MATERIAL STYLES
::ng-deep .mdc-evolution-chip-set__chips {
  display: flex;
  flex-flow: nowrap !important;
}

::ng-deep .mat-step-header:hover:not([aria-disabled]),
::ng-deep .mat-step-header:active:not([aria-disabled]),
::ng-deep .mat-step-header:focus:not([aria-disabled]) {
  background-color: transparent !important;
}

::ng-deep .mat-step-header {
  pointer-events: none !important;
}

::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-accent {
  --mdc-chip-elevated-container-color: #000 !important;
  --mdc-chip-elevated-disabled-container-color: #000 !important;
}
::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary {
  --mdc-chip-elevated-container-color: #000 !important;
  --mdc-chip-elevated-disabled-container-color: #000 !important;
}
