<div class="sign-in-box">
  <div class="mail-bg"></div>
  <div class="form-box slidefromright">
    <mat-stepper linear #stepper labelPosition="bottom" class="stepper-box">
      <!-- Step 1-->
      <mat-step [stepControl]="passwordForm">
        <h1 class="move-down">Create your new password!</h1>
        <p class="center-p">
          Create your radical password, remember it has to be special.
        </p>
        <form [formGroup]="passwordForm" (submit)="passwordFormHandler()">
          <div class="input-box">
            <p>Password</p>
            <mat-form-field class="form-field-box">
              <mat-label
                *ngIf="
                  passwordForm.get('password')?.hasError('required') ||
                  passwordForm.get('password')?.hasError('minlength') ||
                  passwordForm.get('password')?.hasError('whitespace')
                "
                >Enter your pasword
              </mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                placeholder="must be 8 characters or more"
                (blur)="onPasswordInput()"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
                type="button"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button mat-raised-button class="nxt-btn" type="submit">
            <div>Sign Up</div>
            <mat-icon class="icon">east</mat-icon>
          </button>
        </form>
      </mat-step>

      <!-- Step 2-->
      <mat-step>
        <div class="greetings">
          <h1>New password created!</h1>
          <p>Secure your password. It's for you alone.</p>
          <button
            class="expore-btn"
            (click)="resetToLogin()"
            mat-button
            mat-raised-button
          >
            Login
          </button>
        </div>
      </mat-step>
    </mat-stepper>

    <button
      mat-raised-button
      color="basic"
      *ngIf="stepper.selectedIndex === 0"
      class="prev-btn"
      routerLink="/login"
    >
      Sign In
      <mat-icon class="icon">navigate_before</mat-icon>
    </button>
  </div>
</div>
