* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-in-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;

  .mail-bg {
    background-image: url("../../../../assets/images/email.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
  }

  .form-box {
    grid-column: 2/3;
    position: relative;
    width: 50%;

    form {
      margin: 0 auto;
      width: 70%;
      padding: 5rem 2rem;
      padding-bottom: 0;
      border-radius: 1rem;

      .logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 3.75rem;
        width: 3.75rem;
        background-color: #d9d9d9;
        border-radius: 3rem;
      }

      h1 {
        text-align: center;
      }

      .input-box {
        margin-top: 1rem;
        .form-field-box {
          width: 100%;
        }
        .error {
          margin-top: -1rem;
        }
      }

      .btn {
        margin-top: 1rem;
        width: 100%;
        padding: 1.8rem;
        background-color: #000;
        color: #fff;
        cursor: pointer !important;
      }
    }
    .box {
      margin: 0 auto;
      width: 70%;
      padding: 0 2rem;

      .forget-pass {
        text-align: center;
        margin-top: 1rem;
        a {
          text-decoration: none;
          color: blue;
          cursor: pointer;
        }
      }

      .or-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        hr {
          width: 40%;
        }
        span {
          padding: 0 1rem;
        }
      }

      .btn-outline {
        margin-top: 1rem;
        width: 100%;
        padding: 1.8rem;
        background-color: transparent;
        border: 1px solid #000;
        color: #000;
        cursor: pointer !important;
      }
    }
  }
}

.slidefromright {
  animation: slideFromRight 0.3s ease-in-out;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    transform: translateX(50%);
    opacity: 0;
  }
  80% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
