<form [formGroup]="regForm" (submit)="emailFormHandler()">
  <div class="input-box">
    <p>Email</p>
    <mat-form-field class="form-field-box">
      <mat-label
        *ngIf="
          regForm.get('email')?.hasError('required') ||
          regForm.get('email')?.hasError('whitespace')
        "
        >Enter your user-email</mat-label
      >
      <input
        matInput
        formControlName="email"
        placeholder="EX. abc"
        (blur)="onEmailInput()"
        required
      />
    </mat-form-field>
  </div>

  <div class="input-box__suggestions">
    <span>Suggestions:</span>

    <mat-chip-listbox
      aria-label="Fish selection"
      class="suggestions"
      #suggestionsContainer
      (change)="onChipSelect($event)"
    >
      <mat-chip-option>One fish</mat-chip-option>
      <mat-chip-option>Two fish</mat-chip-option>
      <mat-chip-option>Accent fish</mat-chip-option>
      <mat-chip-option>Warn fish</mat-chip-option>
      <mat-chip-option>One fish</mat-chip-option>
      <mat-chip-option>Two fish</mat-chip-option>
      <mat-chip-option>Warn fish</mat-chip-option>
    </mat-chip-listbox>
    <button
      mat-mini-fab
      matTooltip="Primary"
      color="Primary"
      type="button"
      class="fab-right"
      (click)="scrollSuggestionHandler()"
    >
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>

  <div class="input-box">
    <p>Password</p>
    <mat-form-field class="form-field-box">
      <mat-label
        *ngIf="
          regForm.get('password')?.hasError('required') ||
          regForm.get('password')?.hasError('minlength') ||
          regForm.get('password')?.hasError('whitespace')
        "
        >Enter your pasword
      </mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        placeholder="must be 8 characters or more"
        (blur)="onPasswordInput()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button mat-raised-button matStepperNext class="nxt-btn" type="submit">
    <div>Sign Up</div>
    <mat-icon class="icon">east</mat-icon>
  </button>
</form>
