/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html {
  // input field
  --mdc-outlined-text-field-focus-label-text-color: #000;
  --mdc-outlined-text-field-caret-color: #000;
  --mdc-outlined-text-field-focus-outline-color: #000;
  --mdc-filled-text-field-caret-color: #000;
  --mdc-filled-text-field-focus-active-indicator-color: #000;
  --mdc-filled-text-field-focus-label-text-color: #000;

  //mat steppers-headers
  --mat-stepper-header-selected-state-icon-background-color: #000;
  --mat-stepper-header-done-state-icon-background-color: #000;
  --mat-stepper-header-edit-state-icon-background-color: #000;
  //ff4081
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #ffffff03;
}
